.address__map {

  border-radius: 28px;
  border: 6px solid #8758FF;
}

@media screen and (min-width:0) {
  .address__map {
    width: 70%;
    height: 30rem;
  }
}
@media screen and (min-width:750px) {
  .address__map {
    width: 48rem;
    height: 32rem;
  }
}