.form__button{
    width: 256px;
    color: var(--text-colors-white-title, #FDFDFD);
height: 51px;
flex-shrink: 0;
border-radius: 12px;
border-radius: 12px;
background: #4715c8;
position: relative;
top: 55px;
left: -150px;
margin-top: -15px;

}