.hero {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/img/dune-part-two-poster.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  box-sizing: border-box;
  padding: 120px;
}