.combo-card__img {
  width: 80%;
  height: 26rem;
  box-sizing: border-box;
  background-size: cover;
  margin-bottom: 1rem;
}
.combo-card__img:hover {
  cursor: pointer;
  width: 84%;
  margin-bottom: 0.5rem;
}